{% extends "layout.html" %}
{% block content %}

<!-- tour -->
<div class="intro">
  <h2>First, select a poster size: </h2>
</div>

<!-- poster size -->

<form action='#' method='GET' name="sizeForm">
  <div id="size_dropdowns">
  <div class="dropdown_child">
    <label for="width-dropdown"><h3>Width:</h3></label>
    <select id="width-dropdown" class = "classic">
      <option value="6" selected="selected">6 inches</option>
      <option value="8">8 inches</option>
      <option value="10">10 inches</option>
      <option value="12">12 inches</option>
      <option value="14">14 inches</option>
      <option value="18">18 inches</option>
      <option value="20">20 inches</option>
      <option value="24">24 inches</option>
      <option value="28">28 inches</option>
      <option value="30">30 inches</option>
      <option value="36">36 inches</option>
    </select>
  </div>
  <div class="dropdown_child">
    <label for="height-dropdown"><h3>Height:</h3></label>
    <select id="height-dropdown" class = "classic">
      <option value="6" selected="selected">6 inches</option>
      <option value="8">8 inches</option>
      <option value="10">10 inches</option>
      <option value="12">12 inches</option>
      <option value="14">14 inches</option>
      <option value="18">18 inches</option>
      <option value="20">20 inches</option>
      <option value="24">24 inches</option>
      <option value="28">28 inches</option>
      <option value="30">30 inches</option>
      <option value="36">36 inches</option>
    </select>
  </div>
  <div class="dropdown_child">
    <a href="" class = "confirm_buttons" id="size_button">
      <button class= "confirmbutton">Set</button>
    </a>
  </div>
  </div>

  <!-- hidden data to submit -->
  <input type="hidden" name="width" id="width" value= 0 />
  <input type="hidden" name="height" id="height" value= 0 />
</form>

<div id = sizedisp>
  <body style="color: darkgreen;">{{message}}</body>
</div>

<div class = "location" id = "locationDiv">
  <div class="intro">
    <h2>Next, select a location: </h2>
  </div>
</div>





<!-- footer -->
<p class="footer" id="credit">MapGen created by <a href="http://www.linkedin.com/in/mdittgen">Max Dittgen</a>.</p>

<!---->


<script type=text/javascript>
//appear on click functionality
function openClick() {
    document.getElementById('locationDiv').style.display = "block";
    sessionStorage.setItem('clicked', true);
}

function closeClick() {
    document.getElementById('locationDiv').style.display = "none";
    sessionStorage.setItem('clicked', false);
}

window.onload = function () {
    var data = sessionStorage.getItem('clicked');
    if (data == 'true') {
        openClick();
    }
    var message = '{{ message }}';
    if (message === ""){
      closeClick();
    }
};


// button functionality
$(function() {
    $('a#size_button').bind('click', function() {
      setTimeout(() =>{

        document.getElementById("width").value = document.getElementById("width-dropdown").value
        document.getElementById("height").value = document.getElementById("height-dropdown").value
        document.sizeForm.method = "POST";
        document.sizeForm.submit();
        document.sizeForm.method = "GET";
        openClick();
      }, 750)

  return false;
});
});
  
  </script>

{% endblock content %}