{% extends "layout.html" %}
{% block content %}

<!-- tour -->
<div class="intro">
  <h3>First, select a poster size {{message}}</h3>
</div>

<form action='#' method='GET' name="sizeForm">
  <div id="size_dropdowns">
    <label for="width-dropdown">Choose your width:</label>
    <select id="width-dropdown">
      <option value="6" selected="selected">6 inches</option>
      <option value="8">8 inches</option>
      <option value="10">10 inches</option>
      <option value="12">12 inches</option>
      <option value="14">14 inches</option>
      <option value="18">18 inches</option>
      <option value="20">20 inches</option>
      <option value="24">24 inches</option>
      <option value="28">28 inches</option>
      <option value="30">30 inches</option>
      <option value="36">36 inches</option>
    </select>
    <a href="" class = "confirm_buttons" id="size_button">
      <button>Set</button>
    </a>
  </div>

  <!-- hidden data to submit -->
  <input type="hidden" name="width" id="width" value= 0 />
</form>


<!-- footer -->
<p class="footer" id="credit">MapGen created by <a href="http://www.linkedin.com/in/mdittgen">Max Dittgen</a>.</p>

<!---->


<script type=text/javascript>

// button functionality
$(function() {
    $('a#size_button').bind('click', function() {
      setTimeout(() =>{

        var e = $('#width-dropdown option:selected').val()
        document.getElementById("width").value = document.getElementById("width-dropdown").value
        document.sizeForm.method = "POST";
        document.sizeForm.submit();
        document.sizeForm.method = "GET";
      }, 750)

  return false;
});
});
  
  </script>

{% endblock content %}