{% extends "layout.html" %}
{% block content %}

<!-- tour -->
<div class="intro">
  <h1>Welcome to MapGen. Generate custom map posters of your favorite locations.</h1>
</div>

<!-- carousel-->
<div id="car_wrapper" class="wrapper">
  <div id="wall_image" class="wall">
    <img id="wall" src="{{url_for('static', filename='images/wall.png')}}" alt="blank gallery wall" />
  </div>
  
  <div class="carousel">
    <div id="image_1" class="car_image active">
      <img id="boston" src="{{url_for('static', filename='images/boston.png')}}" alt="map of boston" />
    </div>
    <div id="image_2" class="car_image left">
      <img id="cornell" src="{{url_for('static', filename='images/cornell.png')}}" alt="map of cornell" />
    </div>
    <div id="image_3" class="car_image right">
      <img id="pittsburgh" src="{{url_for('static', filename='images/pittsburgh.png')}}" alt="map of pittsburgh"/>
    </div>
  </div>
</div>


<!-- footer -->
<p class="footer" id="credit">MapGen created by <a href="http://www.linkedin.com/in/mdittgen">Max Dittgen</a>.</p>

<script type=text/javascript>

  // fade out whole page after rating page before results page
  window.onload = function (e) {
    $('.intro').fadeIn();
    $('.logo').fadeIn();
    $('.car_image').fadeIn();
  }
  
  // provide carousel functionality
  const carousel = document.querySelector('.carousel');
  const images = carousel.querySelectorAll('.car_image');
  let currentIndex = 0;

  function showImage(index) {
    images.forEach(image => {
      image.classList.remove('active', 'left', 'right');
    });

    const length = images.length;
    const previousIndex = (index - 1 + length) % length;
    const nextIndex = (index + 1) % length;

    images[currentIndex].classList.add('active');
    images[previousIndex].classList.add('left');
    images[nextIndex].classList.add('right');
  }

  images.forEach((image, index) => {
    image.addEventListener('click', () => {
      currentIndex = index;
      showImage(currentIndex);
      clearInterval(myInterval);
    });
  });

  showImage(currentIndex);

  var intervalId = window.setInterval(function(){
    currentIndex = (currentIndex + 1) % images.length;
    showImage(currentIndex);
  }, 5000);
  
  </script>

{% endblock content %}