* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdfaf7;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* font styling */
h1 {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: #737373;
  font-size: 18px;
}

h4 {
  font-weight: 300;
  color: #737373;
  font-size: 24px;
}

p {
  color: #737373;
  line-height: 200%;
  font-size: 17px;
}

.highlight {
  font-size: 40px;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgba(145, 207, 255, 0.5) 50%);
}

/* logo styling */
a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  position: relative;
  margin: 10px;
  margin-bottom: 0px;

  padding: 5px 22px 0px 22px;
}

.logo img {
  width: 100px;
}

/* git logo styling */
a {
  text-decoration: none;
}

.github {
  float: right;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;

  padding: 5px 22px 0px 22px;
}

.github img {
  width: 75px;
}

/* credit */
.footbar{
  bottom: 0;
  left: 0;
  margin-top: 5px;
  display: block;
  position: fixed;
  width: 100vw;
  height: 25px;
  background-color: #000000;
  z-index: 1000;
}

#credit{
  /* positioning */
  bottom: 0;
  left: 0;
  margin-top: 5px;
  display: block;
  position: fixed;

  /* sizing*/
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  /* text */
  text-align: center;
  font-size: 14px;
}

#credit a {
  color: rgb(145, 207, 255);
  transition: filter .3s;
}

#credit a:hover{
  filter: brightness(115%);
}

.result_footer#credit {
  position: static;
}

.intro{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 1s;
  padding: 10px 30px;
}

.intro h1 {
  text-align: center;
  font-size: min(40px, 5.5vw)
}

.wrapper{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 100vw;
  height: max(50vh,45vw);
  padding: 10px 0px 0px 0px;
  overflow: hidden;
}

.wall img {
  position: absolute;
  z-index: -999;
  max-width: 100vw;
  height: auto;
}

.carousel {
  position: absolute;
  transform: translateY(-15%);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 100vw;
  height: 300px;
  margin-top: auto;
  padding: 150px 0vw;
  z-index: 999;
}

.car_image img{
  position: absolute;
  width: 50vw;
  height: auto;
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
  animation: fadeIn 2s;
}

.car_image.active img {
  opacity: 1;
  margin-right: 25vw;
  margin-left: 25vw;
}

.car_image.left img{
  position: absolute;
  margin-left: 2.5vw;
  margin-right: auto;
  scale: 0.4;
  transform: translateX(-75%);
  margin-bottom: 0px;
}

.car_image.right img{
  position: absolute;
  margin-right: 2.5vw;
  margin-left: auto;
  scale: 0.4;
  transform: translateX(315%);
}

.buttoncontainer {
  position: relative;
  margin: 0px auto;
  padding: 0px auto 20px auto;
  height: 200px;
}

.beginbutton {
  margin: 5px auto 35px auto;
  display: block;
  color: #96d35f;
  background-color: #001e57;
  font-size: 22px;
  border: 0px solid #2d63c8;
  border-radius: 13px;
  padding: 15px 50px;
  cursor: pointer
}

.beginbutton:hover {
  color: #001e57;
	background-color: #96d35f;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;    
  }
  100% {
    opacity: 1;
  }
}