* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdfaf7;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* font styling */
h1 {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: #737373;
  font-size: 18px;
}

h4 {
  font-weight: 300;
  color: #737373;
  font-size: 24px;
}

p {
  color: #737373;
  line-height: 200%;
  font-size: 17px;
}

.highlight {
  font-size: 40px;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgba(145, 207, 255, 0.5) 50%);
}

/* logo styling */
a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  position: relative;
  margin: 10px;
  margin-bottom: 0px;

  padding: 5px 22px 0px 22px;
}

.logo img {
  width: 100px;
}

/* git logo styling */
a {
  text-decoration: none;
}

.github {
  float: right;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;

  padding: 5px 22px 0px 22px;
}

.github img {
  width: 75px;
}

/* credit */
#credit{
  /* positioning */
  bottom: 0;
  left: 0;
  margin-top: 5px;
  display: block;
  position: fixed;

  /* sizing*/
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  /* text */
  text-align: center;
  font-size: 14px;
}

#credit a {
  color: rgb(145, 207, 255);
  transition: filter .3s;
}

#credit a:hover{
  filter: brightness(115%);
}

.result_footer#credit {
  position: static;
}

.intro{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 1s;
  padding: 10px 30px;
}

.intro h1 {
  text-align: center;
  font-size: min(40px, 5.5vw)
}

.samples img{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50%;
  height: auto;
  padding: 150px 25vw;
  animation: fadeIn 2s;
}

.carousel {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: auto;
  overflow: hidden;
}

.car_image img{
  position: absolute;
  width: 50vw;
  height: auto;
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
}

.car_image.active img {
  opacity: 1;
  margin-right: 25vw;
  margin-left: 25v;
}

.car_image.left img{
  transform: translateX(2.5px) scale(0.4);
}

.car_image.right img{
  transform: translateX() scale(0.4);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;    
  }
  100% {
    opacity: 1;
  }
}